<!DOCTYPE html>
<html lang="en">
<% include ./_header %>
  <body class = 'index'>
    <% include ./_navbar %>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h1>What Are You Saving For?</h1>
              <% include ./_bankform %>
            </div>
          </div>
<!--           <div class="row">
            <div class="col-md-12">
              <h1>Your Account Details:</h1>
            </div>
          </div> -->
        </div>
        <div id="banksDiv" class="col-md-6" style="height: 600px; overflow-y:scroll;">
          <h1 id="banks-header" class="text-center"><%= username %>'s Banks:</h1>
          <!-- Todos Well -->
          <ul class="bankList">
          <!-- Banks -->
            <% banks.forEach(function(bank) { %>
             <li id = '<%=bank._id%>' class='bank-li'>
                <div class ='well bank-list-wrapper'> 
                    <i class="ion-close-round pull-right delete"></i>
                    <h4>Item: <%=bank.name%></h4>
                    <h4>Price: $<%=bank.cost%></h4>
                    <h4>Cash Added: $<span id='CashId<%=bank._id%>'><%=bank.cash_added%></span></h4>
                    <div class = 'bankDetails'>
                      <!-- Progress Bar -->
                      <div class='progress'> 
                        <div id = 'ProgressId<%=bank._id %>' class='progress-bar' role="progressbar" style="width:<%=(bank.cash_added/bank.cost)*100%>">
                        </div> 
                      </div> 
                      <a href='#' class='btn primary' data-toggle="modal" data-target="#basicModal">
                        <i class="ion ion-plus-circled" style="font-size: 40px"></i>
                      </a>
                      <% include ./_addprogressmodal %>
                    </div>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
      </div>
    </div>
  </body>
</html>
